@model EmployeeManagement.Models.LeaveModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">
    <form asp-action="Create">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6"><h4>Apply Leave</h4></div>
                    <div class="col-sm-6 pt-1 text-right"><a class="text-right text-dark" asp-action="Index">X</a></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="LeaveType" class="pl-0 control-label col-md-12"></label>
                            <div class="col-md-12 pl-0">
                                @Html.RadioButtonFor(model => model.LeaveType, "Casual")
                                <label class="control-label">Casual</label>
                                @Html.RadioButtonFor(model => model.LeaveType, "Medical")
                                <label class="control-label">Medical</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="LeaveDateFrom" class="control-label"></label>
                            <input autocomplete="off" placeholder="Select DateOfBirth" asp-format="{0:yyyy-MM-ddTHH:mm}" asp-for="LeaveDateFrom" class="form-control" />
                            <span asp-validation-for="LeaveDateFrom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="LeaveDateTo" class="control-label"></label>
                            <input autocomplete="off" placeholder="Select DateOfBirth" asp-format="{0:yyyy-MM-ddTHH:mm}" asp-for="LeaveDateTo" class="form-control" />
                            <span asp-validation-for="LeaveDateTo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Remark" class="control-label"></label>
                            <textarea asp-for="Remark" class="form-control"> </textarea>
                            <span asp-validation-for="Remark" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Apply" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
