@model EmployeeManagement.Models.SalaryModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <form asp-action="Create">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Create Salary Process</h4>
                    </div>
                    <div class="col-sm-6 pt-1 text-right"><a class="text-right text-dark" asp-action="Index">X</a></div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="EmployeeId" class="control-label"></label>
                            <select class="form-control" asp-for="@Model.EmployeeId"
                                    asp-items="@ViewBag.EmployeeList"></select>
                        </div>
                    </div>
                    <div class="col-sm-4 paddingt">
                        <a href='@Url.Action("Test", "Salary" )'>
                            <input class="btn btn-primary" type="button" value="Get">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="BasicPay" class="control-label"></label>
                            <input autocomplete="off" placeholder="Basic Pay" asp-for="BasicPay" class="form-control" />
                            <span asp-validation-for="BasicPay" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="HRA" class="control-label"></label>
                            <input autocomplete="off" placeholder="HRA" asp-for="HRA" class="form-control" />
                            <span asp-validation-for="HRA" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="TA" class="control-label"></label>
                            <input autocomplete="off" placeholder="TA" asp-for="TA" class="form-control" />
                            <span asp-validation-for="TA" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="DA" class="control-label"></label>
                            <input autocomplete="off" placeholder="DA" asp-for="DA" class="form-control" />
                            <span asp-validation-for="DA" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="OverTime" class="control-label"></label>
                            <input autocomplete="off" placeholder="OverTime" asp-for="OverTime" class="form-control" />
                            <span asp-validation-for="OverTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label asp-for="WeekendWorked" class="control-label"></label>
                            <input autocomplete="off" placeholder="Weekend Worked" asp-for="WeekendWorked" class="form-control" />
                            <span asp-validation-for="WeekendWorked" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<style>
    .paddingt {
        padding-top: 1.9rem !important;
    }
</style>