@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Salary</h4>
                </div>
                @*<div class="col-sm-6 text-right"><a asp-action="Create">Create New</a></div>*@
            </div>
        </div>
        <div class="card-body">

        </div>
    </div>
</div>